<.background />

<div class="max-w-6xl mx-auto px-4 py-6 relative">
  <.title text={gettext("Admin panel")} />

  <div class="overflow-x-auto border border-base-content/5 bg-base-100 p-10">
    <ul>
      <li><.link navigate={~p"/admin/dashboard"} target="_blank">Open live dashboard</.link></li>
      <li><.link navigate={~p"/admin/templates"} target="_blank">Open templates editor</.link></li>
    </ul>
  </div>
</div>

<div class="max-w-6xl mx-auto px-4 py-6 relative">
  <.title text="Stats" />

  <div class="overflow-x-auto border border-base-content/5 bg-base-100 p-10">
    <ul>
      <li>Active games: {@stats.active_games_count}</li>
      <li>Games played last day: {@stats.last_day_games_count}</li>
      <li>Total games played: {@stats.total_games_count}</li>
      <li>Total users: {@stats.total_users_count}</li>
      <li>New users: {@stats.new_users_count}</li>
    </ul>
  </div>
</div>
