<.header>{gettext("Register")}</.header>

<.form :let={f} for={@changeset} id="register-form" action={~p"/users/register"}>
  <.input type="text" field={f[:username]} label={"#{gettext("Username")}"} />
  <.input type="password" field={f[:password]} label={"#{gettext("Password")}"} />
  <.input type="password" field={f[:password_confirmation]} label={"#{gettext("Password confirmation")}"} />

  <.button>{gettext("Become European")}</.button>
</.form>
